<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} [%t] %5p %c{1}:%L %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="10"/>
        <param name="file" value="logs/product-mining-engine.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!---->
    <!--<category name="org.elasticsearch">-->
    <!--<priority value="info"/>-->
    <!--</category>-->

    <!--<category name="org.apache">-->
    <!--<priority value="info"/>-->
    <!--</category>-->


    <category name="com.evozon">
        <priority value="debug"/>
    </category>

    <category name="httpclient.wire">
        <priority value="info"/>
    </category>

    <category name="org.apache">
        <priority value="warn"/>
    </category>

    <category name="com.google">
        <priority value="warn"/>
    </category>

    <category name="org.apache.nutch">
        <priority value="info"/>
    </category>

    <category name="org.apache.nutch.crawl">
        <priority value="info"/>
    </category>

    <category name="org.apache.nutch.fetcher">
        <priority value="info"/>
    </category>

    <category name="com.evozon.mining.product.extractor.nutch.ProductExtractorIndexFilter">
        <priority value="info"/>
    </category>

    <category name="org.apache.nutch.plugin.PluginRepository">
        <priority value="error"/>
    </category>

    <category name="org.apache.nutch.indexwriter.elastic.ElasticIndexWriter">
        <priority value="warn"/>
    </category>

    <root>
        <level value="info"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</log4j:configuration>